/.venv
/.vscode
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.env
*.egg-info/
dist/
build/
*.egg
*.tar.gz
*.whl
.DS_Store
.idea/
*.iml
*.sublime-project
*.sublime-workspace
*.vscode/
*.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
*.coverage
*.coverage.*
.cache/
nosetests.xml
coverage.xml
*.coverage
*.log
*.pot
*.mo

#frontend
/node_modules/
/dist/
/build/